

<ion-modal-view class="animated zoomIn">

  <ion-header-bar align-title="center" class="bar-positive">
  <div class="buttons">
    <button style="color: #fff; visibility:hidden" class="button" ng-click="$ionicGoBack()" class="button button-icon icon ion-ios-arrow-left"></button>
  </div>
  <h1 style= "width: 89%;" ng-if = "currentLanguage != 'Έλληνες'" class="title">{{beach.title}}</h1>
  <h1 style= "width: 89%;" ng-if = "currentLanguage == 'Έλληνες'" class="title">{{beach.title_greek}}</h1>
  <div class="buttons">
    <button ng-click="$ionicGoBack()" style="color: rgb(204, 204, 204); background : none;font-size:30px;border:none;" ng-click="modal.hide()" class="button ion-ios-close-empty"></button>
  </div>
</ion-header-bar>

  
    <!--<ion-header-bar style="width:100%; float:none; display:table; padding-top: 14px;">
       <h1  ng-if = "currentLanguage != 'Έλληνες'" class="title" style="color:#fff;">{{beach.title}}</h1>
       <h1 ng-if = "currentLanguage == 'Έλληνες'" class="title" style="color:#fff;">{{beach.title_greek}}</h1>
      <a ng-click="$ionicGoBack()" style="color: rgb(204, 204, 204);" ng-click="modal.hide()" class="button button-icon icon ion-ios-close-empty"></a>
    </ion-header-bar>-->

    <ion-content>
      <!-- <div class="image" style="background: url({{beach_image}}); background-size:cover; display: block; width: 100%; height: 46vh; margin-left: auto; margin-right: auto;">  
    </div>
	 <div class="slider_change" > -->
 <ion-slides disable-side-menu-drag=""  slider="slider1" delegate-handle="slider1" id="preferance-slider1" style="width:100%;height:250px;">
<!--  <ion-slide-page ng-repeat="about in abouthotel" id="preferance-slide24" style="background:url({{about.About.image}}) no-repeat center;background-size:cover;"></ion-slide-page>-->
 
	 <ion-slide-page ng-repeat="img_dis in beach_image"  id="preferance-slide25" >
     <img src={{img_dis}}>
   </ion-slide-page>

    </ion-slides>
   </div>
<!--      <div ng-app="TabsApp">
      <div id="tabs" class="tabview" ng-controller="Tabs1Ctrl">
        <ul>
          <li ng-repeat="tab in tabs" 
                ng-class="{active:isActiveTab(tab.url)}" 
                ng-click="onClickTab(tab)">{{tab.title}}</li>
          
        </ul>
         
	  <p> {{beach_desc}}</p>		
        <div id="mainView">
          <div ng-include="currentTab"></div>
        </div>
      </div>
      <script type="text/ng-template" id="one.tpl.html">
		<div id="viewOne">
                <ng-map style="height:100vh; width:100%;" draggable="true"  id="map"  center="[{{lat_beach}},{{long_beach}}]">
                <control name="overviewMap" opened="true" />
                    <marker  position="[{{lat_beach}},{{long_beach}}]"></marker>
                </ng-map>
			
		</div>
	</script>
      
      <script type="text/ng-template" id="two.tpl.html">
		<div id="viewTwo">
			<ng-map style="height:100vh; width:100%;">   <directions
                        draggable="true"
                        panel=""
                        travel-mode=""
                        waypoint = ""
                        origin="{{lat_startbeach}},{{long_startbeach}}"
                        destination="{{lat_beach}},{{long_beach}}">
                        </directions></ng-map>
			
		</div>
	</script>
       <script type="text/ng-template" id="three.tpl.html">
		<div id="viewTwo">
		
			
		</div>
	</script>
      
</div>-->

<div class="button-bar">
  <a class="button" ui-sref="menu.heramap">{{'Map' | translate}}</a>
  <a class="button" ng-click="launchNavigator()">{{'Direction' | translate}}</a>
  
</div>
<div class="padding" ng-if = "currentLanguage != 'Έλληνες'">
  <h3 class="hera_heading">{{beach.title}}</h3>
<!--<p>{{beach.description}}</p>-->
<div ng-bind-html="beach.description"></div>
</div> 
<div class="padding" ng-if = "currentLanguage == 'Έλληνες'">
  <h3 class="hera_heading">{{beach.title_greek}}</h3>
<!--<p>{{beach.description_greek}}</p>-->
<div ng-bind-html="beach.description_greek"></div>
</div> 

    </ion-content>
  </ion-modal-view>
















