<ion-view title="gastronomy" id="page33" hide-nav-bar="true">

<div class="bar bar-header bar-positive arrow_btn">
  <a style="color: #fff;" ng-click="$ionicGoBack()" class="button button-icon icon ion-ios-arrow-left"></a>
   
  <h1 class="title">Gastronomy</h1>
   <button class="button button-clear icon ion-navicon" menu-toggle="left" on-swipe-left="onSwiperight()" style="color:#fff; display: block; "></button>
</div>


  


  <ion-content padding="true" scroll="false" style="background: url(img/cultureback.jpg) no-repeat center;background-size:cover;" class="has-header">
  <div class="spacer" style="width:100%; float:left; height:29vh;"> </div>
    
    <a ui-sref="menu.nutrition" id="groupHotel-button2" class="button button-light  button-block color_change">Cretan Nutrition</a>
    <a ui-sref="menu.product" id="groupHotel-button5" class="button button-light  button-block color_change">Cretan Products</a>
    <a ui-sref="menu.specialtaste" id="groupHotel-button6" class="button button-light  button-block color_change">special Tastes of Crete</a>
   
    
    
   
   
    
  </ion-content>
</ion-view>