<ion-view title="heraklion" id="page41" hide-nav-bar="true">

<div class="bar bar-header bar-positive arrow_btn">
  <a style="color: #fff;" ng-click="$ionicGoBack()" class="button button-icon icon ion-ios-arrow-left"></a>
   
  <h1  ng-if = "currentLanguage != 'Έλληνες'" class="title">{{hera.title}}</h1>
  <h1 ng-if = "currentLanguage == 'Έλληνες'"  class="title">{{hera.title_greek}}</h1>
   <button class="button button-clear icon ion-navicon" menu-toggle="left" on-swipe-left="onSwiperight()" style="color:#fff; display: block; "></button>
</div>





  <ion-content padding="false" class="has-header"  style="backgrounnd:#f2f2f2;">
<!--  <a><div class="image" style="background: url({{image}}); background-size:cover; display: block; width: 100%; height: 46vh; margin-left: auto; margin-right: auto;">
    </div></a>-->
    

<ion-slides disable-side-menu-drag="" slider="slider1" delegate-handle="slider1" id="preferance-slider1" style="width:100%;height:250px;">
<!--  <ion-slide-page ng-repeat="about in abouthotel" id="preferance-slide24" style="background:url({{about.About.image}}) no-repeat center;background-size:cover;"></ion-slide-page>-->
 
	<ion-slide-page ng-repeat="city_image in city_immage"  id="preferance-slide25">
      <img src="{{city_image}}"></ion-slide-page>
    </ion-slides>
  
    
<!--<ion-slide-box on-slide-changed="slideChanged(index)"  options="{'loop': true}" does-continue="true">
  <ion-slide   ng-repeat="city_image in city_immage" >
    <div class="box1 heraklion">  <img src="{{city_image}}"></div>
  </ion-slide>
</ion-slide-box>-->





    <div class=" btn_content">
  
  <!--<a ng-if = "currentLanguage != 'Έλληνες'" ng-click="history(hera.description,hera.title)">History</a>-->
  <a ng-if = "currentLanguage == 'Έλληνες'" ng-click="history(hera.description_greek,hera.title_greek)">{{'History' | translate}}</a>
  <a ng-click="sightseeing(hera.title,hera.id)">{{'Sightseeing' | translate}}</a>
  <a ui-sref="menu.heramap" >{{'Map' | translate}}</a>
  <a ng-controller="heradirectionCtrl" ng-click="launchNavigator()">{{'Direction' | translate}}</a>
</div>
    
     <div class="para_text" ng-if = "currentLanguage != 'Έλληνες'">
     <h3 class="hera_heading">{{hera.title}}</h3>
    <!--<p>{{hera.description}}</p>-->
     <div ng-bind-html="hera.description"></div>
              
    </div>
    
        <div class="para_text" ng-if = "currentLanguage == 'Έλληνες'">
     <h3 class="hera_heading">{{hera.title_greek}}</h3>
    <!--<p>{{hera.description_greek}}</p>
    -->
     <div ng-bind-html="hera.description_greek"></div>
              
    </div>
    
   
    
  </ion-content>
</ion-view>