<ion-view title="oliveoil" id="page36" hide-nav-bar="true">

<div class="bar bar-header bar-positive  btn_size">
  <h1 class="title">{{title_product}}</h1>
   <a ng-click="$ionicGoBack()" style="color: rgb(204, 204, 204);" ng-click="$ionicGoBack()" class="button button-icon icon ion-ios-close-empty"></a>
</div>




  <ion-content padding="true" scroll="true" class="has-header">

    <div class="para_text">
    <!--<p>{{description_product}}</p>-->
     <div ng-bind-html="description_product"></div>
    </div>
    
    
    
    
    
   
    
  </ion-content>
</ion-view>

