<ion-view title="tips" id="page54" hide-nav-bar="true">

<div class="bar bar-header bar-positive arrow_btn">
  <a style="color: #fff;" ng-click="$ionicGoBack()" class="button button-icon icon ion-ios-arrow-left"></a>
   
  <h1 class="title">Tips</h1>
   <button class="button button-clear icon ion-navicon" menu-toggle="left" on-swipe-left="onSwiperight()" style="color:#fff; display: block; "></button>
</div>


  


  <ion-content padding="false" scroll="true" class="has-header" style="background:url(img/tipback.jpg) no-repeat; background-size:cover;">
  
  <div class="driving_route">
  	<h2>5 Best Driving Routes</h2>
    <ul>
  	<li><span>1.</span>You can explicitly state the size of a column if for example you'd want specific.</li>
    <li><span>2.</span>You can explicitly state the size of a column if for example you'd want specific.</li>
    <li><span>3.</span>You can explicitly state the size of a column if for example you'd want specific.</li>
    <li><span>4.</span>You can explicitly state the size of a column if for example you'd want specific.</li>
     <li><span>5.</span>You can explicitly state the size of a column if for example you'd want specific.</li>
  </ul>
  </div>
  
  <div class="upcoming_events">
  	<h3>Upcoming Events</h3>
    
    <div class="list">

    <a class="item item-avatar text_design" href="#">
      <img src="img/event1.jpg">
      <h2>Abc Heading</h2>
      <p>Lorem ipsum is a dummy text dolor <br/>site consitutoing adipsci Anean <br/>commodo liguia eget.</p>
    </a>
</div>

 <div class="list">

    <a class="item item-avatar text_design" href="#">
      <img src="img/event2.jpg">
      <h2>Xyz Heading</h2>
      <p>Lorem ipsum is a dummy text dolor <br/>site consitutoing adipsci Anean <br/>commodo liguia eget.</p>
    </a>
</div>
    
  </div>
  
  
  
  
  
  </ion-content>
</ion-view>

