<ion-view title="town" id="page39" hide-nav-bar="true">

<div class="bar bar-header bar-positive arrow_btn">
  <a style="color: #fff;" ng-click="$ionicGoBack()" class="button button-icon icon ion-ios-arrow-left"></a>
   
  <h1 class="title">Town/Villages</h1>
   <button class="button button-clear icon ion-navicon" menu-toggle="left" on-swipe-left="onSwiperight()" style="color:#fff; display: block; "></button>
</div>


  


  <ion-content padding="false" scroll="true" class="has-header">
  
  <!--<div class="town_east" ng-repeat="maplist in vill">-->
  <h2>Beaches By Area</h2>
<ng-map style="height:100vh; width:100%;" draggable="true"  id="map"  center="[35.2401, 24.8093]" zoom="8">
             <marker ng-repeat="listBeach in Beaches" position="[{{listBeach.GuideBeache.latitude}},{{listBeach.GuideBeache.longitude}}]" visible="true" icon="img/brown_loc.png" on-click="guidebeach_detail(listBeach.GuideBeache.id,listBeach.GuideBeache.description,listBeach.GuideBeache.title,listBeach.GuideBeache.latitude,listBeach.GuideBeache.longitude,listBeach.GuideBeache.image)">
                 <!--{{listBeach.GuideBeache.latitude}},{{listBeach.GuideBeache.longitude}}-->
                </marker> 
        </ng-map>
  	<!--</div>-->
      
      <!--
    
    <div class="town_west">
  <h2>West Crete</h2>
  	</div>-->

  
  </ion-content>
</ion-view>

