<ion-view title="crete" id="page24" hide-nav-bar="true">

<div class="bar bar-header bar-positive arrow_btn">
  <a style="color: #fff;" ng-click="$ionicGoBack()" class="button button-icon icon ion-ios-arrow-left"></a>
   
  <h1 class="title">Crete</h1>
   <button class="button button-clear icon ion-navicon" menu-toggle="left" on-swipe-left="onSwiperight()" style="color:#fff; display: block; "></button>
</div>





  <ion-content padding="false" scroll="true" class="has-header">
  
  <div class="hotel_col">
  <a ui-sref="menu.aboutcrete"><img src="img/Untitled-10.jpg" alt="image not found"></a>
  <h2 class="top_text">About Crete</h2>
  </div>
  
  <div class="hotel_col">
  <a ui-sref="menu.guidetocrete"> <img src="img/Untitled-11.jpg" alt="image not found"></a>
  <h2 class="top_text">	Guide to Crete	
</h2>
  </div>
     <div class="hotel_col" ng-repeat="list in crete_list">
  <a><img ng-click="bhumika(list.CreteExtra.id)" src="{{list.CreteExtra.image}}" alt="image not found"></a>
  <h2 class="top_text">{{list.CreteExtra.title}}</h2>
  </div>
  
<!--  <div class="hotel_col">
  <a ui-sref="menu.facilities"><img ng-click="bhumika(list.CreteExtra.id)" src="img/Untitled-13.jpg" alt="image not found"></a>
  <h2 class="top_text">Shopping</h2>
  </div>
  
  <div class="hotel_col">
  <a ui-sref="menu.accomodation"><img src="img/Untitled-14.jpg" alt="image not found" height="auto" width="100%"></a>
  <h2 class="top_text">Dining</h2>
  </div>
  
  <div class="hotel_col">
  <img src="img/Untitled-15.jpg" alt="image not found" height="auto" width="100%">
  <h2 class="top_text">Entertaining</h2>
  </div>
  
  <div class="hotel_col">
  <a ui-sref="menu.Questionnaire"><img src="img/Untitled-16.jpg" alt="image not found" height="auto" width="100%"></a>
  <h2 class="top_text">Activities</h2>
  </div>
  
  <div class="hotel_col">
  <img src="img/Untitled-17.jpg" alt="image not found" height="auto" width="100%">
  <h2 class="top_text">Rentals</h2>
  </div>
  
  <div class="hotel_col">
  <img src="img/Untitled-18.jpg" alt="image not found" height="auto" width="100%">
  <h2 class="top_text">Services</h2>
  </div>
  -->
  </ion-content>
</ion-view>

